
<h2 style="margin-top: 20px;" class="text-center">Students-List</h2>
<div class="col-md-7 offset-md-3">
<table class="table table-hover">
    <thead >
        <tr>
            <th>First-name</th>
            <th>Last-name</th>
            <th>Email-id</th>
            <th >Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
            <td>{{student.email}}</td>
            <td>
                <button (click)="updateStudent(student.id)" class="btn btn-info">Update</button>
            </td>
            
            <td>
                <button (click)="deleteStudent(student.id)" class="btn btn-danger" style="margin-left:10px">Delete</button>
            </td>
            
            <td>
                <button (click)="viewStudent(student.id)" class="btn btn-success" style="margin-left:10px">View</button>
            </td> 

        </tr>
    </tbody>

</table>
</div>